/* Let's get this party started */
#ccpHUD ::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
#ccpHUD ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
 
/* Handle */
#ccpHUD ::-webkit-scrollbar-thumb {
    background: #ececec; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

#ccpHUD {
	position: fixed;
	margin-right: auto;
	margin-left: auto;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2999999999;
	min-width: 500px;
	max-width: 50%;
	font-family: 'Open Sans', arial, sans-serif;
	background-color: transparent;
	-webkit-user-select: none;
	user-select: none;
}

#ccpHUD #commandBar {
	background-color: #ccc;
	padding: 4px 12px 4px 12px;
	border-bottom: 1px solid #8B8B8B;
	position: relative;
	z-index: 10;
	box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.5);
}

#ccpHUD #commandBar input {
	width: 100%;
	padding: 5px;
	height: 30px;
	margin: 0px;
	background-color: #fff;
	outline-color: orange;
    box-sizing: border-box;
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
}

#ccpHUD #suggestions {
	position: relative;
	z-index: 5;
	font-size: 16px;
	max-height: 252px;
	overflow-y: scroll;
	background-color: rgb(236, 236, 236);
}

#ccpHUD #suggestions .suggestion {
	position: relative;
	display: block;
	white-space: nowrap;
	text-align: left;
	padding: 9px 14px 9px 14px;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #aaa;
	text-shadow: rgba(0, 0, 0, 1) 1px 1px 1px;
}

#ccpHUD #suggestions .suggestion:hover {
	background: #fff;
	border-top: 1px solid #fff;
	color: #1c5ac4;
	cursor: pointer;
	text-shadow: none;
}

#ccpHUD #suggestions .suggestion span {
	display: inline-block;
}

#ccpHUD #suggestions .selected {
	color: #fff;
	background: #5080d8;
	border-top: 1px solid #5080d8;
	/*background: linear-gradient(to bottom,  rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%);*/
}

#ccpHUD .selected .caption {

}

#ccpHUD .icon {
	margin-right: 9px;
	width: 16px;
	vertical-align: middle;
}

#ccpHUD .caption {
	text-shadow: rgba(0, 0, 0, 0.2) 0px -1px 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 478px;
}

#ccpHUD .shortcut {
	text-shadow: none;
	margin-left: 20px;
	float: right;
}

/*.key {
	border-radius: 4px;
	border-style: outset;
	border: 1px solid #aaa;
	background: #fafafa;
	padding: 0px 3px 1px 3px;
}*/