body {
	background-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
}

/* SCROLL BAR */
/* Turn on a 16x16 scrollbar */
::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

/* Turn on single button up on top, and down on bottom */
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
}

/* Turn off the down area up on top, and up area on bottom */
::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
}

/* Place The scroll down button at the bottom */
::-webkit-scrollbar-button:end:increment {
    background-image: url(../images/scroll_cntrl_dwn.png);
}

/* Place The scroll up button at the up */
::-webkit-scrollbar-button:start:decrement {
    background-image: url(../images/scroll_cntrl_up.png);
}

/* Top area above thumb and below up button */
::-webkit-scrollbar-track-piece:vertical:start {
    background-image: url(../images/scroll_gutter_top.png), url(../images/scroll_gutter_mid.png);
    background-repeat: no-repeat, repeat-y;
}

/* Bottom area below thumb and down button */
::-webkit-scrollbar-track-piece:vertical:end {
    background-image: url(../images/scroll_gutter_btm.png), url(../images/scroll_gutter_mid.png);
    background-repeat: no-repeat, repeat-y;
    background-position: bottom left, 0 0;
}

/* The thumb itself */
::-webkit-scrollbar-thumb:vertical {
    height: 56px;
    -webkit-border-image: url(../images/scroll_thumb.png) 8 0 8 0 stretch stretch;
    border-width: 8 0 8 0;
}

#container {
	min-width: 500px;
}

#commandBar {
	background-color: #ccc;
	padding: 4px 12px 4px 12px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom: 2px solid #8B8B8B;
}

#commandBar input {
	width: 100%;
	padding: 5px;
	height: 30px;
	margin: 0px;
	background-color: #fff;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#suggestions {
	position: relative;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	max-height: 250px;
	overflow-y: scroll;
}

.suggestion {
	position: relative;
	display: block;
	white-space: nowrap;
	text-align: left;
	vertical-align: center;
	padding: 9px 14px 9px 14px;
	border-bottom: 1px solid #aaa;
}

.suggestion:hover {
	background: #a9e4f7;
	background: -moz-linear-gradient(top,  #a9e4f7 0%, #0fb4e7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9e4f7), color-stop(100%,#0fb4e7));
	background: -webkit-linear-gradient(top,  #a9e4f7 0%,#0fb4e7 100%);
	background: -o-linear-gradient(top,  #a9e4f7 0%,#0fb4e7 100%);
	background: -ms-linear-gradient(top,  #a9e4f7 0%,#0fb4e7 100%);
	background: linear-gradient(to bottom,  #a9e4f7 0%,#0fb4e7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=0 );
	cursor: pointer;
}

.suggestion span {
	display: inline-block;
}

.icon {
	margin-right: 9px;
	width: 16px;
	vertical-align: middle;
}

.caption{
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 478px;
}

.shortcut {
	margin-left: 20px;
	float: right;
	color: black;
}

.key {
	border-radius: 4px;
	border-style: outset;
	border: 1px solid #aaa;
	background: #fafafa;
	padding: 0px 3px 1px 3px;
}

.selected {
	color: white;
	background: rgb(255,197,120);
	background: -moz-linear-gradient(top,  rgba(255,197,120,1) 0%, rgba(251,157,35,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,197,120,1)), color-stop(100%,rgba(251,157,35,1)));
	background: -webkit-linear-gradient(top,  rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=0 );
}