#container {
	min-width: 320px;
}

#commandBar {
	background-color: #ccc;
	padding: 4px 12px 4px 12px;
}

#commandBar input {
	width: 100%;
	padding: 5px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#suggestions {

}

.choice {
	padding: 10px;
	display: block;
	font-family: "Lucida Console", Monaco, monospace;
	border-bottom: 1px solid #aaa;
}

.choice:hover {
	background: #a9e4f7;
	background: -moz-linear-gradient(top,  #a9e4f7 0%, #0fb4e7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9e4f7), color-stop(100%,#0fb4e7));
	background: -webkit-linear-gradient(top,  #a9e4f7 0%,#0fb4e7 100%);
	background: -o-linear-gradient(top,  #a9e4f7 0%,#0fb4e7 100%);
	background: -ms-linear-gradient(top,  #a9e4f7 0%,#0fb4e7 100%);
	background: linear-gradient(to bottom,  #a9e4f7 0%,#0fb4e7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=0 );
}


.selected {
	background: rgb(255,197,120);
	background: -moz-linear-gradient(top,  rgba(255,197,120,1) 0%, rgba(251,157,35,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,197,120,1)), color-stop(100%,rgba(251,157,35,1)));
	background: -webkit-linear-gradient(top,  rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=0 );
}


.command {
	font-weight: bold;
}